@import "../styles/units.scss";
@import "../styles/units.scss";

.productsContainer {
  display: grid;
  grid-template-rows: repeat(auto-fit, 150px);
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  border-radius: $unit-4;
  padding: $unit-3;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.imageContainer {
  width: 150px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100px;
  justify-self: center;
  align-self: center;
}
