@import "../styles/units.scss";
@import "../styles/colors.scss";

.productsContainer {
  padding: $unit-4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: $unit-3;

  .productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: white;
    border-radius: $unit-1;
    padding: $unit-3;

    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;

    overflow: hidden;
    aspect-ratio: 1/1;

    p {
      width: 80%;
    }

    .buttonsContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: $unit-3;

      input {
        width: 50px;
        text-align: center;
      }
    }

    img {
      width: 100px;
      justify-self: center;
      align-self: center;
    }
  }
}

.productPage {
  display: grid;
  grid-template-columns: 1fr [content-start] 75ch [content-end] 1fr;

  .wrapper {
    grid-column: content-start / content-end;
    padding: $unit-4;
    display: flex;
    justify-content: space-evenly;

    .imageWrapper {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      aspect-ratio: 1/1;
      background-color: $neutral-100;

      img {
        width: 100%;
      }
    }

    .infoWrapper {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      h1 {
        margin-bottom: $unit-3;
      }
      p {
        margin-bottom: $unit-3;
      }
      .buttonsContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        input {
          width: 50px;
          text-align: center;
        }
      }
    }
  }
}
