:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

body {
  margin: 0;
}
