$unit-0: 0px;
$unit-px: 1px;
$unit-0-5: 0.125rem;
$unit-1: 0.25rem;
$unit-1-5: 0.375rem;
$unit-2: 0.5rem;
$unit-2-5: 0.625rem;
$unit-3: 0.75rem;
$unit-3-5: 0.875rem;
$unit-4: 1rem;
$unit-5: 1.25rem;
$unit-6: 1.5rem;
$unit-7: 1.75rem;
$unit-8: 2rem;
$unit-9: 2.25rem;
$unit-10: 2.5rem;
$unit-11: 2.75rem;
$unit-12: 3rem;
$unit-14: 3.5rem;
$unit-16: 4rem;
$unit-20: 5rem;
$unit-24: 6rem;
$unit-28: 7rem;
$unit-32: 8rem;
$unit-36: 9rem;
$unit-40: 10rem;
$unit-44: 11rem;
$unit-48: 12rem;
$unit-52: 13rem;
$unit-56: 14rem;
$unit-60: 15rem;
$unit-64: 16rem;
$unit-72: 18rem;
$unit-80: 20rem;
$unit-96: 24rem;
